.userListWrapper {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
}

.userList {
  list-style: none;
  min-height: 120px;
}
.userList li {
  cursor: pointer;
}

.controlWrapper {
  display: flex;
  justify-content: space-between;
}
